.image-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.draggable-image {
    width: 150px;
    height: 150px;
    cursor: grab;
    position: relative;
    transition: transform 0.3s;
}

.dragover {
    border: 2px dashed #333;
}

.dragstart {
    opacity: 0.8;
}

.draggable-image.dragover{
    transform:translateX(80px);
}